fastapi==0.91.0
jose==1.0.0
MySQL-python==1.2.5
pandas==1.5.3
passlib==1.7.4
py2neo==2021.2.3
pydantic==1.9.1
PyMySQL==1.0.2
requests==2.28.1
SQLAlchemy==1.4.39
SQLAlchemy_Utils==0.39.0
uvicorn==0.18.2
